<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<script>
	$(".btn-success").click(function(){
		var strUser = $("#usuario").val();
		var strPass = $("#contrasena").val();
		var strRol = txtUser.substring(0, 2);
		var strMensaje = "";
		var codRol = 0;
		
		
		if(strRol == "ad"){ // si es administrador
			codRol = 1;
		}
		else if(strRol == "do"){ // si es docente
			codRol = 2;
		}
		else if(strRol == "al"){ // si es alumno
			codRol = 3;
		}
		else
			strMensaje = "El usuario no existe";
	
		// enviar parametros strUser, strPass y codRol al controlador;
	})
</script>



</body>
</html>